@import "tailwindcss";

@layer base {
  @keyframes scanline {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(100%); }
  }
}

@layer utilities {
  .animate-scanline {
    animation: scanline 8s linear infinite;
  }
}
